table.envTable {
}
table.envTable th {
	color: gray;
	font-weight:bold;
}
table.envTable td.envValue {
	width: 100%;
}
table.envTable .textInput {
	width: 95%;
}

admintabstd.status_buttons {
	height: 33px;
}
td.status_buttons img.loading {
	height: 20px;
	width: 20px;
}

td.insufficientRights {
	background-color: rgb(255, 248, 217);
	font-weight: bold;
	width: 150px;
	text-align: center;
	padding-top: 8px;
	color: orange;
}

td.buttonHostUnavailable {
	background-color: #FFC3C3;
	font-weight: bold;
	width: 150px;
	text-align: center;
	padding-top: 8px;
	color: white;
}

div.messageBox {
	margin-bottom: 40px;
}
div.warningBox {
	background-color: rgb(255, 248, 217);
	border: 1px solid rgb(246, 190, 82);
}
div.errorBox {
	background-color: rgb(255, 195, 195);
	border: 1px solid rgb(255, 113, 113);
}
div.messageBox p.title {
	font-weight: bold;
	margin: 0;
	padding: 3px 10px;
}
div.warningBox p.title {
	background-color: rgb(246, 190, 82);
	color: white;
}
div.errorBox p.title {
	background-color: #FF7171;
	color: white;
}
div.messageBox div.text {
	padding: 5px 10px;
}
div.messageBox div.text p.textHeader {
	margin: 2px;
}
div.messageBox div.text ul.list {
	margin: 2px;
	padding-left: 25px;
}


img.arrow_up, img.arrow_down {
	width:12px;
	height:12px;
	float:right;
}
img.arrow_down {
	margin-right: 6px;
}


li.active, li.inactive {
	background-repeat: no-repeat;
	background-position: right 1px;
}

li.attribute {
	color: #7e7e7e;
}
li.attribute a {
	font-size: 11px;
}
li.firstNorde {
	padding-top: 0.4em;
}


li.inactive a.title, li.active a.title {
	padding-right: 15px;
}
li.inactive a.title, li.active a.title {
	display: block;
}
li.inactive li.active > a.title {
	color: #000000;
}
li.inactive a.title {
	color: #BB0000;
}



a.grpTitle {
	color: #9E9E9E;
}
input.attr {
	width:90%
}

div#settings, div#privilegeBox {
	margin-top: 10px;
	color: gray;
	padding: 4px 0px 4px 10px;
}
div#settings p {
	margin: 0;
	padding: 0;
}
div#settings p.title {
	color: gray;
	font-weight: bold;
}
div#settings ul {
	list-style-type: square;
	padding-left: 25px;
}
div#settings ul li {
/*	padding: 1px 0px;*/
}
div#settings ul li a {
	color: gray;
}

div#privilegeBox p {
	margin: 0;
	padding: 0;
}
div#privilegeBox p.privilegeLevelLabel {
	margin-top: 3px;
}
div#privilegeBox p.privilegeLevelValue {
	font-weight: bold;
}
div#privilegeBox .serverStatusLabel {
	margin-top: 3px;
}
div#privilegeBox .serverStatusValue {
	font-weight: bold;
	margin-bottom: 3px;
}
div#privilegeBox .serverStatusAvailable, div#privilegeBox .serverStatusBooked  {
	color: green;
}
div#privilegeBox .serverStatusUnavailable {
	color: red;
}
div#privilegeBox .serverStatusReservation {
	color: orange;
}

.tabs {
 border: 0px solid black;
 margin: 2em 0;
 padding: .5em 0 0;
 float: left;
 width: 12em;
}
.navtabs {
 border: 1px solid black;
 border-color: gray black black gray;
 padding: .5em 0 0;
}
#admintabs{
 font: 75%;
 padding: .5em 0 0 .5em;
}
#content.control
{
	font-family: Arial,Verdana,Geneva,"Bitstream Vera Sans",Helvetica,sans-serif;
	left: 0pt;
	line-height: 1.4em;
	margin: 10px 50px;
	padding: 0;
}

.tabs ul { list-style: none; margin: 0 0 /*.5em*/; padding: 0 }
.tabs li { margin: 0; padding: 0.2em 0px;/*.5em*/ ; }

.tabs li li { /*margin: 0 -0.5em; padding-left: 1.5em; *//*font-size: 85%*/ }
.tabs :link, .tabs :visited { border: none; display: inline }
.tabs :link:hover, .tabs :visited:hover { background: transparent }

.bubble{ position: absolute; left: 10em }

div#mainContent 
{
 min-height: 300px;
 padding-left: 2em; 
 margin-left: 12em;
 margin-top: 2em;
 padding-top: 5px; 
 padding-right: 16em;
}
.tabcontents fieldset
{ 
 margin-top: 1em;
}
#log
{
 height: 55%;
}
.tabcontents pre
{ 
/* height: 100%;*/
 height:400px;
 max-width: 900px;
 overflow-y:scroll;
 font-size: 12px;
}


.ticker {
 float: right; 
 padding: 0.5em 0;
 margin-right: 3em;
 width: 13em;
 text-align: left;
 height: 65%;
}

.active{ font-style: bold; }
.active_attr{ /*background: #e1e1dd;*/ }

table th{width: 2.5em; text-align: left; padding: 10px; padding-top: 0 }
table td{padding: 10px; padding-top: 0}
table #hr{ padding: 0; margin: 0 }


.desire_button a { text-decoration: none; }
.desire_button
{
	background-image: url(/trac.cgi/chrome/theme/button-on-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 75%;
  color: #222;
  text-align: right;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #eeeeee;
  border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-right: 1px solid #999999;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-top: 1px solid #eeeeee;
	font-family: "Helvetiva Neue",Arial,Verdana,Geneva,"Bitstream Vera Sans",Helvetica,sans-serif;
	font-size: 100%;
	font-weight: normal;padding: 5px;
	text-transform: lowercase;
}

