
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />

	<head>  		
		<title>Roboterzustand</title>
	</head>

	<body>
		<div id="ctxtnav"></div>
		<div id="content" class="control">   
		
			<div name="contents" class="tabcontents">		 
				<fieldset>
					<legend style="color:#1e90ff; font-size:medium">HINWEIS</legend>

					<div>
						Es wurde kein <span style="color:#FF0000" ><b>$control_advise</b></span> - Eintrag durchgef&uuml;hrt. Bitte erneut auf den Roboterzustand klicken und Eintrag durchf&uuml;hren. Wahrscheinlich wurde ein Pflichtfeld ausgelassen. 
					</div>
						<br/>
					<div>
						Dieser Hinweis tritt dann auf, wenn in der Datenbank kein Eintrag f&uuml;r einen <b>Host</b> und/oder f&uuml;r eine <b>Komponente</b> gefunden wurde. Es wird vorausgesetzt, dass beim ersten Start dieses Plugins zun&auml;chst ein Host eingerichtet wird und im Anschluss darauf eine Komponente. Pflichtfelder m&uuml;ssen ausgef&uuml;llt werden!
						<br/><br/>
						Zusatzbemerkung: Der Name einer Komponente darf nicht <b>"Neu"</b> heissen!
					</div>
						<br/>
					<div>
						Solte dieser Fehler erneut auftauchen, so k&ouml;nnen folgende Hinweise n&uuml;tzlich sein:
						<ul>
							<li>Sind die Zugriffrechte f&uuml;r die Datenbank richtig?</li>
							<li>Sind in der Datenbank die Tabellen "robot_hosts" und "robot_components" vorhanden, bzw. werden diese Automatisch angelegt?</li>
						</ul>
					</div>

				</fieldset>
			</div>

		</div>
	</body>
</html>

