<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
	  py:strip="True">
	  
	<py:if test="controladmin_mask == 'host'">
			<div name="tabs" class="tabs">
			<div class="navtabs">
				<ul>
				<py:for each="host in controladmin_navitems">
					<py:choose test="activehost.id == host[0]">
					  <py:when test="True">
						<li class="active">${host[1]}:${host[2]}</li> 
					  </py:when>
					  <py:otherwise>
						<li><a href="${host[3]}">${host[1]}:${host[2]}</a></li>
					  </py:otherwise>
					</py:choose> 
				</py:for>
				</ul>
			</div>
			<div name="admintabs" id="admintabs">
			<a href="${control_admin_page}?operation=edit&amp;attr=comp">CompAdmin</a><br/>
			<a href="${control_active_page}">Steuerung</a>
			</div>
			</div>
	</py:if>
 
 
	 <div name="contents" class="tabcontents">
		<py:for each="active in controladmin_attrs">	       
	    
			
			<py:choose test="controladmin_mask_new == 'true'">
				<py:when test="True">
					 <h2>New Host</h2> 
				</py:when>
				<py:otherwise>
					 <h2>${active.ip } : ${active.port}</h2>
				</py:otherwise>
			</py:choose>

		    <fieldset>
		        <legend>Host-Settings</legend>     
		         <form class="mod" name="hostadmin_form" method="post">   
		         <input class='attr' type='hidden' name='attr' value="host" />   
		            <table width='100%'><tbody>
	 
		            <py:choose test="controladmin_mask_new == 'true'">
						<py:when test="True">
						 <tr>
		                    <th ><label>IP*:</label></th>
		                    <td align='left'>                          
		                        <input class='attr' type='text' name='ip' value="" />                       
		                    </td>
		                </tr>
						</py:when>
						<py:otherwise>
							<input class='attr' type='hidden' name='id' value="${active.id}" />    
						</py:otherwise>
					</py:choose>
				
					<tr>
		                <th ><label>OS*:</label></th>
		                <td align='left'>
		                    <input class='attr' type='text' name='os' value="${active.os}" />
		                </td>
		            </tr>

		            <tr>
		                <th ><label>User*:</label></th>
		                <td align='left'>                        
		                    <input class='attr' type='text' name='user' value="${active.user}" />
		                </td>
		            </tr>
		            
		            <tr>
		                <th ><label>Password*:</label></th>
		                <td align='left'>                        
		                    <input class='attr' type='password' name='passwd' value="${active.passwd}" />
		                </td>
		            </tr>
		            
		            <tr>
		                <th ><label>Port:</label></th>
		                <td align='left'>                        
		                    <input class='attr' type='text' name='port' value="${active.port}" />
		                </td>
		            </tr>
		            
		            <tr>
		                <th ><label>MAC:</label></th>
		                <td align='left'>                        
		                    <input class='attr' type='text' name='mac' value="${active.mac}" />
		                </td>
		            </tr>
		            
		            <tr>
		                <th ><label>Start VNC-path:</label></th>
		                <td align='left'>                        
		                    <input class='attr' type='text' name='vnc_start' value="${active.vnc_start}" />
		                </td>
		            </tr> 

		            <tr>
		                <th ><label>Stop VNC-path:</label></th>
		                <td align='left'>                        
		                    <input class='attr' type='text' name='vnc_stop' value="${active.vnc_stop}" />
		                </td>
		            </tr> 
		                          
		            <tr>
		                <th ><label>VNC-search:</label></th>
		                <td align='left'>                        
		                    <input class='attr' type='text' name='vncgrep' value="${active.vncgrep}" />
		                </td>
		            </tr>

		            <!--<tr>
		                <th ><label>Background-Server:</label></th>
		                <td align='left'>
		                    <py:choose test="active.useBgrndServer==True">
		                        <py:when test="True">
		                            <input class='attr' type='checkbox' name='useBgrndServer' checked="checked" />
		                        </py:when>
		                        <py:otherwise>
		                            <input class='attr' type='checkbox' name='useBgrndServer' />
		                        </py:otherwise>
		                    </py:choose>
		                </td>
		            </tr>-->
		    
		            <tr>                    
		                <td colspan='2' align='right'>
		                
							<py:choose test="controladmin_mask_new == 'true'">
								<py:when test="True">
									<input class='desire_button' name='new' type='submit' value='create' onClick="javascript:return chkHostFormular();"/>
								</py:when>
								<py:otherwise>
									<input class='desire_button' name='update' type='submit' value='update' onClick="javascript:return chkHostFormular();"/>
		                     <input class='desire_button' name='delete' type='submit' value='delete' onClick="javascript:return confirm('Möchten Sie diese Komponente wirklich löschen?')"/> 
								</py:otherwise>
							</py:choose>
						
		                    <input class='desire_button' name='cancel' type='submit' value='cancel' />
		                </td>
		            </tr>
		    
		        </tbody> </table>
		        </form>
		    </fieldset>   
		 </py:for>
	</div>
</html>
