
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />

	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>RobotControl</title>
	</head>


	<body>
		<div id="ctxtnav"></div>
		<div id="content" class="control">    
			<h1>RobotControl</h1>

		 	<xi:include href="control_nav.html"><xi:fallback/></xi:include>
	
			<div id="mainContent">
				<div name="contents" class="tabcontents">
				    <h2>ENV-ADMIN</h2>


					<fieldset id='log'>
						<legend>Settings:</legend>

						<form action="$base_url/envAdmin">
						<input type="hidden" name="update" value="true" />

						<table class="envTable">
						<tr><th>Key</th><th>Value</th></tr>

						<py:for each="k in envVars.keys()">
							<tr><td class="envLabel">$k</td><td class="envValue">
							<py:if test="envVars[k]['type']=='text'">
								<input name="$k" type="text" class="textInput" value="${envVars[k]['value']}" />
							</py:if>
							
							<py:if test="envVars[k]['type']=='radio'">
								<select name="$k">
									<py:for each="i in range(0, len(envVars[k]['optionKeys']))">
										<py:choose test="envVars[k]['value'] == envVars[k]['optionKeys'][i]">
											<py:when test="True">
												<option value="${envVars[k]['optionKeys'][i]}" selected="selected">${envVars[k]['optionValues'][i]}</option>
											</py:when>
											<py:otherwise>
												<option value="${envVars[k]['optionKeys'][i]}">${envVars[k]['optionValues'][i]}</option>
											</py:otherwise>
										</py:choose>
									</py:for>
								</select>
							</py:if>
							</td></tr>
						</py:for>
						
						<tr><td colspan="2"><input type="submit" value="Submit" /></td></tr>
						</table>

						</form>

	<!--					<py:if test="booking_errors_occured">
							<div class="Errors"><b>Es sind Fehler aufgetreten:</b>
							<py:for each="err in booking_errors">
								<br />&nbsp;&nbsp;- $err
							</py:for>
							</div>
						</py:if>

						<py:if test="booking_success">
							<div class="Success"><b>Operation erfolgreich durchgeführt.</b></div>
						</py:if>-->




					</fieldset>


				</div>
			</div>
		</div>	
	</body>
</html>
